/*-----------------------------------------------------------------------------

-	Revolution Slider 5.0 Default Style Settings -

Screen Stylesheet

version:   	5.0.0
date:      	29/10/15
author:		themepunch
email:     	info@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/



.rtl {	direction: rtl;}
@font-face {
  /*font-family: 'revicons';
  src: url('../fonts/revicons/revicons.eot?5510888');
  src: url('../fonts/revicons/revicons.eot?5510888#iefix') format('embedded-opentype'),
       url('../fonts/revicons/revicons.woff?5510888') format('woff'),
       url('../fonts/revicons/revicons.ttf?5510888') format('truetype'),
       url('../fonts/revicons/revicons.svg?5510888#revicons') format('svg');
*/  font-weight: normal;
  font-style: normal;
}

 [class^="revicon-"]:before, [class*=" revicon-"]:before {
  font-family: "revicons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center; 

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.revicon-search-1:before { content: '\e802'; } /* '' */
.revicon-pencil-1:before { content: '\e831'; } /* '' */
.revicon-picture-1:before { content: '\e803'; } /* '' */
.revicon-cancel:before { content: '\e80a'; } /* '' */
.revicon-info-circled:before { content: '\e80f'; } /* '' */
.revicon-trash:before { content: '\e801'; } /* '' */
.revicon-left-dir:before { content: '\e817'; } /* '' */
.revicon-right-dir:before { content: '\e818'; } /* '' */
.revicon-down-open:before { content: '\e83b'; } /* '' */
.revicon-left-open:before { content: '\e819'; } /* '' */
.revicon-right-open:before { content: '\e81a'; } /* '' */
.revicon-angle-left:before { content: '\e820'; } /* '' */
.revicon-angle-right:before { content: '\e81d'; } /* '' */
.revicon-left-big:before { content: '\e81f'; } /* '' */
.revicon-right-big:before { content: '\e81e'; } /* '' */
.revicon-magic:before { content: '\e807'; } /* '' */
.revicon-picture:before { content: '\e800'; } /* '' */
.revicon-export:before { content: '\e80b'; } /* '' */
.revicon-cog:before { content: '\e832'; } /* '' */
.revicon-login:before { content: '\e833'; } /* '' */
.revicon-logout:before { content: '\e834'; } /* '' */
.revicon-video:before { content: '\e805'; } /* '' */
.revicon-arrow-combo:before { content: '\e827'; } /* '' */
.revicon-left-open-1:before { content: '\e82a'; } /* '' */
.revicon-right-open-1:before { content: '\e82b'; } /* '' */
.revicon-left-open-mini:before { content: '\e822'; } /* '' */
.revicon-right-open-mini:before { content: '\e823'; } /* '' */
.revicon-left-open-big:before { content: '\e824'; } /* '' */
.revicon-right-open-big:before { content: '\e825'; } /* '' */
.revicon-left:before { content: '\e836'; } /* '' */
.revicon-right:before { content: '\e826'; } /* '' */
.revicon-ccw:before { content: '\e808'; } /* '' */
.revicon-arrows-ccw:before { content: '\e806'; } /* '' */
.revicon-palette:before { content: '\e829'; } /* '' */
.revicon-list-add:before { content: '\e80c'; } /* '' */
.revicon-doc:before { content: '\e809'; } /* '' */
.revicon-left-open-outline:before { content: '\e82e'; } /* '' */
.revicon-left-open-2:before { content: '\e82c'; } /* '' */
.revicon-right-open-outline:before { content: '\e82f'; } /* '' */
.revicon-right-open-2:before { content: '\e82d'; } /* '' */
.revicon-equalizer:before { content: '\e83a'; } /* '' */
.revicon-layers-alt:before { content: '\e804'; } /* '' */
.revicon-popup:before { content: '\e828'; } /* '' */

						


.intro {
    display: table;
	background-position: center center;
  	background-size: cover;
  	position: relative;
  	background-attachment: fixed;
  	left: 0;
  	top: 0;
  	width: 100%;
  	height: auto;
  	background-repeat: no-repeat;
  	text-align: center;
    background-color: #fff;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
	height: auto;
	width: 100%;
}

.intro .intro-body {
    margin-top: 100px;
	margin-bottom: 100px;
    box-sizing: border-box;
    color: #545454;
    line-height: 1.3;
}
.intro .intro-body .intro-text {
    font-size: 16px;
    color:#545454;
    font-weight: 400;
    line-height: 25px;
}

.container-fluid img {
    margin-left: 20px;
}
.container-fluid,
.container {
	position: relative;
}
.container-fluid {
    margin-left: auto !important;
    margin-right: auto !important;
}

.container-fluid {
    width: 100%;
	height: 100%;
}

/*  ----------------------------------------------------
BUTTONS
-------------------------------------------------------- */
.button,
.button-3d,
.button-o {
	display: inline-block;
	padding: 8px 16px;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	  touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
		  user-select: none;
	background-image: none;
	border: 1px solid transparent;
	font-family: 'Julius+Sans+One', sans-serif;
	text-transform: uppercase;
    text-shadow: none;
	font-weight: normal !important;
	letter-spacing: 1px;
	-webkit-transition: all .25s ease-in-out;
	   -moz-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.button,
.button:hover,
.button-3d,
.button-3d:hover {
	color: #fff !important;
}
.button-o {
	background: transparent !important;
	border-width: 1px;
	border-style: solid;
}
.button i,
.button-3d i,
.button-o i {
    margin-left: 15px;
    margin-right: 0;
    font-size: 14px;
}
.button small,
.button-3d small,
.button-o small {
    margin-top: 0px;
}
.button:focus {
    outline: none;
    color: #fff;
}
.button-xs { font-size: 9px; padding: 5px 12px; }
.button-sm { font-size: 10px; padding: 8px 20px;}
.button-md { font-size: 11px; padding: 12px 25px;}
.button-lg { font-size: 13px; padding: 15px 30px;}
.button-square {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

.button-xs.button-rounded,
.button-rounded.button-xs { -webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
.button-sm.button-rounded,
.button-rounded.button-sm { -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.button-md.button-rounded,
.button-rounded.button-md { -webkit-border-radius: 7px;-moz-border-radius: 7px;border-radius: 7px;}
.button-lg.button-rounded,
.button-rounded.button-lg { -webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}

.button-circle {
    -webkit-border-radius: 100px;
       -moz-border-radius: 100px;
            border-radius: 100px;
}
.button-block {
	display: block;
	width: 100%;
	margin-top: 5px;
}
/* Main Colors */
.button.button-pasific {
	color: #fff;
}
.button-3d.button-pasific {
	color: #fff;
	-webkit-box-shadow: 0 5px 0 #ee3135;
	   -moz-box-shadow: 0 5px 0 #ee3135;
			box-shadow: 0 5px 0 #ee3135;
}
.button-3d:hover.button-pasific {
	-webkit-box-shadow: 0 3px 0 #ee3135;
	   -moz-box-shadow: 0 3px 0 #ee3135;
			box-shadow: 0 3px 0 #ee3135;
}
.button-o.button-pasific {
	background: transparent !important;
}
.button-o.button-pasific:hover {
    color: #fff !important;
}
/* Secondary Colors */
.button.button-red, .button-3d.button-red 		    { background-color: #E85957; }
.button.button-pink, .button-3d.button-pink 		{ background-color: #fd40b3; }
.button.button-orange, .button-3d.button-orange 	{ background-color: #ff8b34; }
.button.button-purple, .button-3d.button-purple 	{ background-color: #a85ad4; }
.button.button-blue, .button-3d.button-blue 		{ background-color: #3dace1; }
.button.button-cyan, .button-3d.button-cyan 		{ background-color: #1abc9c; }
.button.button-green, .button-3d.button-green 	    { background-color: #b2cc71; }
.button.button-yellow, .button-3d.button-yellow 	{ background-color: #ffc501; }
.button.button-gray, .button-3d.button-gray 		{ background-color: #e0e0e0; color: #111 !important; }
.button.button-dark, .button-3d.button-dark 		{ background-color: #5f6467; }
.button.button-black, .button-3d.button-black 		{ background-color: #000000; }
.button.button-white, .button-3d.button-white 		{ background-color: #ffffff; color: #111 !important;}

.button-3d.button-red 		{ -webkit-box-shadow: 0 5px 0 #E85957; -moz-box-shadow: 0 5px 0 #E85957; box-shadow: 0 5px 0 #E85957; }
.button-3d.button-pink 	    { -webkit-box-shadow: 0 5px 0 #dc2193; -moz-box-shadow: 0 5px 0 #dc2193; box-shadow: 0 5px 0 #dc2193; }
.button-3d.button-orange 	{ -webkit-box-shadow: 0 5px 0 #e1660b; -moz-box-shadow: 0 5px 0 #e1660b; box-shadow: 0 5px 0 #e1660b; }
.button-3d.button-purple 	{ -webkit-box-shadow: 0 5px 0 #8632b5; -moz-box-shadow: 0 5px 0 #8632b5; box-shadow: 0 5px 0 #8632b5; }
.button-3d.button-blue 	    { -webkit-box-shadow: 0 5px 0 #1f8abe; -moz-box-shadow: 0 5px 0 #1f8abe; box-shadow: 0 5px 0 #1f8abe; }
.button-3d.button-cyan 	    { -webkit-box-shadow: 0 5px 0 #148d75; -moz-box-shadow: 0 5px 0 #148d75; box-shadow: 0 5px 0 #148d75; }
.button-3d.button-green 	{ -webkit-box-shadow: 0 5px 0 #7d9345; -moz-box-shadow: 0 5px 0 #7d9345; box-shadow: 0 5px 0 #7d9345; }
.button-3d.button-yellow 	{ -webkit-box-shadow: 0 5px 0 #deac02; -moz-box-shadow: 0 5px 0 #deac02; box-shadow: 0 5px 0 #deac02; }
.button-3d.button-gray 	    { -webkit-box-shadow: 0 5px 0 #a7a7a7; -moz-box-shadow: 0 5px 0 #a7a7a7; box-shadow: 0 5px 0 #a7a7a7; }
.button-3d.button-dark 	    { -webkit-box-shadow: 0 5px 0 #404345; -moz-box-shadow: 0 5px 0 #404345; box-shadow: 0 5px 0 #404345; }
.button-3d.button-black 	{ -webkit-box-shadow: 0 5px 0 #555555; -moz-box-shadow: 0 5px 0 #555555; box-shadow: 0 5px 0 #555555; }
.button-3d.button-white 	{ -webkit-box-shadow: 0 5px 0 #f9f9f9; -moz-box-shadow: 0 5px 0 #f9f9f9; box-shadow: 0 5px 0 #f9f9f9; }

.button-3d:hover.button-red 	{ -webkit-box-shadow: 0 3px 0 #b5b5b5; -moz-box-shadow: 0 3px 0 #b5b5b5; box-shadow: 0 3px 0 #b5b5b5; }
.button-3d:hover.button-pink 	{ -webkit-box-shadow: 0 3px 0 #dc2193; -moz-box-shadow: 0 3px 0 #dc2193; box-shadow: 0 3px 0 #dc2193; }
.button-3d:hover.button-orange  { -webkit-box-shadow: 0 3px 0 #e1660b; -moz-box-shadow: 0 3px 0 #e1660b; box-shadow: 0 3px 0 #e1660b; }
.button-3d:hover.button-purple  { -webkit-box-shadow: 0 3px 0 #8632b5; -moz-box-shadow: 0 3px 0 #8632b5; box-shadow: 0 3px 0 #8632b5; }
.button-3d:hover.button-blue 	{ -webkit-box-shadow: 0 3px 0 #1f8abe; -moz-box-shadow: 0 3px 0 #1f8abe; box-shadow: 0 3px 0 #1f8abe; }
.button-3d:hover.button-cyan 	{ -webkit-box-shadow: 0 3px 0 #148d75; -moz-box-shadow: 0 3px 0 #148d75; box-shadow: 0 3px 0 #148d75; }
.button-3d:hover.button-green 	{ -webkit-box-shadow: 0 3px 0 #7d9345; -moz-box-shadow: 0 3px 0 #7d9345; box-shadow: 0 3px 0 #7d9345; }
.button-3d:hover.button-yellow  { -webkit-box-shadow: 0 3px 0 #deac02; -moz-box-shadow: 0 3px 0 #deac02; box-shadow: 0 3px 0 #deac02; }
.button-3d:hover.button-gray 	{ -webkit-box-shadow: 0 3px 0 #a7a7a7; -moz-box-shadow: 0 3px 0 #a7a7a7; box-shadow: 0 3px 0 #a7a7a7; }
.button-3d:hover.button-dark 	{ -webkit-box-shadow: 0 3px 0 #404345; -moz-box-shadow: 0 3px 0 #404345; box-shadow: 0 3px 0 #404345; }
.button-3d:hover.button-black 	{ -webkit-box-shadow: 0 3px 0 #555555; -moz-box-shadow: 0 3px 0 #555555; box-shadow: 0 3px 0 #555555; }
.button-3d:hover.button-white 	{ -webkit-box-shadow: 0 3px 0 #E85957; -moz-box-shadow: 0 3px 0 #E85957; box-shadow: 0 3px 0 #E85957; }

.button-o.button-red		{ border-color: #E85957; color: #E85957; }
.button-o.button-pink 		{ border-color: #fd40b3; color: #fd40b3; }
.button-o.button-orange 	{ border-color: #ff8b34; color: #ff8b34; }
.button-o.button-purple	    { border-color: #a85ad4; color: #a85ad4; }
.button-o.button-blue 		{ border-color: #3dace1; color: #3dace1; }
.button-o.button-cyan 		{ border-color: #1abc9c; color: #1abc9c; }
.button-o.button-green		{ border-color: #b2cc71; color: #b2cc71; }
.button-o.button-yellow	    { border-color: #edc951; color: #edc951; }
.button-o.button-gray 		{ border-color: #e0e0e0; color: #e0e0e0; }
.button-o.button-dark 		{ border-color: #323a45; color: #323a45; }
.button-o.button-black 		{ border-color: #000000; color: #000000; }
.button-o.button-white 		{ border-color: #ffffff; color: #ffffff; }
.button-o.button-white:hover{ color: #000000 !important;}
/* Bootstrap Colors */
.button.button-primary, .button-3d.button-primary { background-color: #286090; }
.button.button-success, .button-3d.button-success { background-color: #5cb85c; }
.button.button-info, .button-3d.button-info       { background-color: #5bc0de; }
.button.button-warning, .button-3d.button-warning { background-color: #ec971f; }
.button.button-danger, .button-3d.button-danger   { background-color: #c9302c; }

.button-3d.button-primary { -webkit-box-shadow: 0 5px 0 #1a456b; -moz-box-shadow: 0 5px 0 #1a456b; box-shadow: 0 5px 0 #1a456b; }
.button-3d.button-success { -webkit-box-shadow: 0 5px 0 #408940; -moz-box-shadow: 0 5px 0 #408940; box-shadow: 0 5px 0 #408940; }
.button-3d.button-info    { -webkit-box-shadow: 0 5px 0 #398ca5; -moz-box-shadow: 0 5px 0 #398ca5; box-shadow: 0 5px 0 #398ca5; }
.button-3d.button-warning { -webkit-box-shadow: 0 5px 0 #bb7614; -moz-box-shadow: 0 5px 0 #bb7614; box-shadow: 0 5px 0 #bb7614; }
.button-3d.button-danger  { -webkit-box-shadow: 0 5px 0 #9d201c; -moz-box-shadow: 0 5px 0 #9d201c; box-shadow: 0 5px 0 #9d201c; }

.button-3d:hover.button-primary { -webkit-box-shadow: 0 3px 0 #1a456b; -moz-box-shadow: 0 3px 0 #1a456b; box-shadow: 0 3px 0 #1a456b; }
.button-3d:hover.button-success { -webkit-box-shadow: 0 3px 0 #408940; -moz-box-shadow: 0 3px 0 #408940; box-shadow: 0 3px 0 #408940; }
.button-3d:hover.button-info    { -webkit-box-shadow: 0 3px 0 #398ca5; -moz-box-shadow: 0 3px 0 #398ca5; box-shadow: 0 3px 0 #398ca5; }
.button-3d:hover.button-warning { -webkit-box-shadow: 0 3px 0 #bb7614; -moz-box-shadow: 0 3px 0 #bb7614; box-shadow: 0 3px 0 #bb7614; }
.button-3d:hover.button-danger  { -webkit-box-shadow: 0 3px 0 #9d201c; -moz-box-shadow: 0 3px 0 #9d201c; box-shadow: 0 3px 0 #9d201c; }

.button-o.button-primary    { border-color: #286090; color: #286090; }
.button-o.button-success    { border-color: #5cb85c; color: #5cb85c; }
.button-o.button-info       { border-color: #5bc0de; color: #5bc0de; }
.button-o.button-warning    { border-color: #ec971f; color: #ec971f; }
.button-o.button-danger     { border-color: #c9302c; color: #c9302c; }


/* Gradient Colors */
.button-grad-violet {
    background: #5f2c82;
    background: -webkit-linear-gradient(-45deg, #4776E6, #8E54E9); 
    background: -o-linear-gradient(-45deg, #4776E6, #8E54E9); 
    background: -moz-linear-gradient(-45deg, #4776E6, #8E54E9); 
    background: linear-gradient(-45deg, #4776E6, #8E54E9);
}
.button-grad-violet:hover {
    background: #5f2c82;
    background: -webkit-linear-gradient(45deg, #4776E6, #8E54E9); 
    background: -o-linear-gradient(45deg, #4776E6, #8E54E9); 
    background: -moz-linear-gradient(45deg, #4776E6, #8E54E9); 
    background: linear-gradient(45deg, #4776E6, #8E54E9);
}
.button-grad-blood-mary {
    background: #FF512F;
    background: -webkit-linear-gradient(-45deg, #FF512F, #DD2476); 
    background: -o-linear-gradient(-45deg, #FF512F, #DD2476); 
    background: -moz-linear-gradient(-45deg, #FF512F, #DD2476); 
    background: linear-gradient(-45deg, #FF512F, #DD2476); 
}
.button-grad-blood-mary:hover {
    background: #FF512F;
    background: -webkit-linear-gradient(45deg, #FF512F, #DD2476); 
    background: -o-linear-gradient(45deg, #FF512F, #DD2476); 
    background: -moz-linear-gradient(45deg, #FF512F, #DD2476); 
    background: linear-gradient(45deg, #FF512F, #DD2476); 
}
.button-grad-bora {
    background: #2BC0E4;
    background: -webkit-linear-gradient(45deg, #2BC0E4, #EAECC6); 
    background: -o-linear-gradient(45deg, #2BC0E4, #EAECC6); 
    background: -moz-linear-gradient(45deg, #2BC0E4, #EAECC6); 
    background: linear-gradient(45deg, #2BC0E4, #EAECC6); 
}
.button-grad-bora:hover {
    background: #2BC0E4;
    background: -webkit-linear-gradient(-45deg, #2BC0E4, #EAECC6); 
    background: -o-linear-gradient(-45deg, #2BC0E4, #EAECC6); 
    background: -moz-linear-gradient(-45deg, #2BC0E4, #EAECC6); 
    background: linear-gradient(-45deg, #2BC0E4, #EAECC6); 
}
.button-grad-mojito {
    background: #68e9b6;
    background: -webkit-linear-gradient(45deg, #68e9b6, #4e75b9); 
    background: -o-linear-gradient(45deg, #68e9b6, #4e75b9); 
    background: -moz-linear-gradient(45deg, #68e9b6, #4e75b9); 
    background: linear-gradient(45deg, #68e9b6, #4e75b9); 
}
.button-grad-mojito:hover {
    background: #4e75b9;
    background: -webkit-linear-gradient(-45deg, #4e75b9, #68e9b6); 
    background: -o-linear-gradient(-45deg, #4e75b9, #68e9b6); 
    background: -moz-linear-gradient(-45deg, #4e75b9, #68e9b6); 
    background: linear-gradient(-45deg, #4e75b9, #68e9b6); 
}
.button-grad-orange {
    background: #FFB75E;
    background: -webkit-linear-gradient(-45deg, #FFB75E, #ED8F03); 
    background: -o-linear-gradient(-45deg, #FFB75E, #ED8F03); 
    background: -moz-linear-gradient(-45deg, #FFB75E, #ED8F03); 
    background: linear-gradient(-45deg, #FFB75E, #ED8F03); 
}
.button-grad-orange:hover {
    background: #FFB75E;
    background: -webkit-linear-gradient(45deg, #FFB75E, #ED8F03); 
    background: -o-linear-gradient(45deg, #FFB75E, #ED8F03); 
    background: -moz-linear-gradient(45deg, #FFB75E, #ED8F03); 
    background: linear-gradient(45deg, #FFB75E, #ED8F03); 
}
.button-grad-purple {
    background: #DA22FF;
    background: -webkit-linear-gradient(-45deg, #DA22FF, #9733EE); 
    background: -o-linear-gradient(-45deg, #DA22FF, #9733EE); 
    background: -moz-linear-gradient(-45deg, #DA22FF, #9733EE); 
    background: linear-gradient(-45deg, #DA22FF, #9733EE); 
}
.button-grad-purple:hover {
    background: #DA22FF;
    background: -webkit-linear-gradient(45deg, #DA22FF, #9733EE); 
    background: -o-linear-gradient(45deg, #DA22FF, #9733EE); 
    background: -moz-linear-gradient(45deg, #DA22FF, #9733EE); 
    background: linear-gradient(45deg, #DA22FF, #9733EE); 
}
.button-grad-stellar {
    background: #7474BF;
    background: -webkit-linear-gradient(-45deg, #7474BF, #348AC7); 
    background: -o-linear-gradient(-45deg, #7474BF, #348AC7); 
    background: -moz-linear-gradient(-45deg, #7474BF, #348AC7); 
    background: linear-gradient(-45deg, #7474BF, #348AC7); 
}
.btn-grad-stellar:hover {
    background: #7474BF;
    background: -webkit-linear-gradient(45deg, #7474BF, #348AC7); 
    background: -o-linear-gradient(45deg, #7474BF, #348AC7); 
    background: -moz-linear-gradient(45deg, #7474BF, #348AC7); 
    background: linear-gradient(45deg, #7474BF, #348AC7); 
}
.button-grad-day-tripper {
    background: #f857a6;
    background: -webkit-linear-gradient(-45deg, #f857a6, #ff5858); 
    background: -o-linear-gradient(-45deg, #f857a6, #ff5858); 
    background: -moz-linear-gradient(-45deg, #f857a6, #ff5858); 
    background: linear-gradient(-45deg, #f857a6, #ff5858); 
}
.button-grad-day-tripper:hover {
    background: #f857a6;
    background: -webkit-linear-gradient(45deg, #f857a6, #ff5858); 
    background: -o-linear-gradient(45deg, #f857a6, #ff5858); 
    background: -moz-linear-gradient(45deg, #f857a6, #ff5858); 
    background: linear-gradient(45deg, #f857a6, #ff5858); 
}

.button-grad-violet,
.button-grad-blood-mary,
.button-grad-bora,
.button-grad-mojito,
.button-grad-orange,
.button-grad-purple,
.button-grad-stellar,
.button-grad-tripper {
    border: 0 !important;
    color: #ffffff !important;
}

.rev_slider_wrapper{
	position:relative;
	z-index: 0;
}

a{
	-moz-transition:all .3s ease-in-out !important;
	-ms-transition:all .3s ease-in-out !important;
	-o-transition:all .3s ease-in-out !important;
	-webkit-transition:all .3s ease-in-out !important; 
    transition:all .3s ease-in-out !important;
}
.rev_slider{
	position:relative;
	overflow:visible;
}

.tp-overflow-hidden { overflow:hidden;}

.tp-simpleresponsive img,
.rev_slider img{
	max-width:none !important;
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	margin:0px;
	padding:0px;
	border-width:0px;
	border:none;
}

.rev_slider .no-slides-text{
	font-weight:bold;
	text-align:center;
	padding-top:80px;
}

.rev_slider >ul,
.rev_slider_wrapper >ul,
.tp-revslider-mainul >li,
.rev_slider >ul >li,
.rev_slider >ul >li:before,
.tp-revslider-mainul >li:before,
.tp-simpleresponsive >ul,
.tp-simpleresponsive >ul >li,
.tp-simpleresponsive >ul >li:before,
.tp-revslider-mainul >li,
.tp-simpleresponsive >ul >li{
	list-style:none !important;
	position:absolute;	
	margin:0px !important;
	padding:0px !important;
	overflow-x: visible;
	overflow-y: visible;
	list-style-type: none !important;
	background-image:none;
	background-position:0px 0px;
	text-indent: 0em;
	top:0px;left:0px;
}


.tp-revslider-mainul >li,
.rev_slider >ul >li,
.rev_slider >ul >li:before,
.tp-revslider-mainul >li:before,
.tp-simpleresponsive >ul >li,
.tp-simpleresponsive >ul >li:before,
.tp-revslider-mainul >li,
.tp-simpleresponsive >ul >li { 
	visibility:hidden; 
}

.tp-revslider-slidesli,
.tp-revslider-mainul	{	
	padding:0 !important; 
	margin:0 !important; 
	list-style:none !important;
}

.rev_slider li.tp-revslider-slidesli {
    position: absolute !important;
}


.tp-caption .rs-untoggled-content { display:block;}
.tp-caption .rs-toggled-content { display:none;}

.rs-toggle-content-active.tp-caption .rs-toggled-content { display:block;}
.rs-toggle-content-active.tp-caption .rs-untoggled-content { display:none;}

.rev_slider .tp-caption,
.rev_slider .caption 	{ 
	position:relative;  
	visibility:hidden; 
	white-space: nowrap;
	display: block;
}


.rev_slider .tp-mask-wrap .tp-caption,
.rev_slider .tp-mask-wrap *:last-child,
.wpb_text_column .rev_slider .tp-mask-wrap .tp-caption,
.wpb_text_column .rev_slider .tp-mask-wrap *:last-child{
	margin-bottom:0;

}

.tp-svg-layer svg {	width:100%; height:100%;position: relative;vertical-align: top}

	
/* CAROUSEL FUNCTIONS */
.tp-carousel-wrapper {
	cursor:url(openhand.cur), move;
}
.tp-carousel-wrapper.dragged {
	cursor:url(closedhand.cur), move;
}

/* ADDED FOR SLIDELINK MANAGEMENT */
.tp-caption {
	z-index:1
}

.tp_inner_padding {	
	box-sizing:border-box;	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	max-height:none !important;	
}


.tp-caption {	
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;	
	position:absolute;
	-webkit-font-smoothing: antialiased !important;
}

.tp-caption.tp-layer-selectable {
	-moz-user-select: all;
	-khtml-user-select: all;
	-webkit-user-select: all;
	-o-user-select: all;	
}

.tp-forcenotvisible,
.tp-hide-revslider,
.tp-caption.tp-hidden-caption {	
	visibility:hidden !important; 
	display:none !important
}

.rev_slider embed,
.rev_slider iframe,
.rev_slider object,
.rev_slider audio,
.rev_slider video {
	max-width: none !important
}






/**********************************************
	-	FULLSCREEN AND FULL-WIDTH CONTAINERS	-
**********************************************/
.rev_slider_wrapper	{width:100%;}

.fullscreen-container {	
	position:relative;
	padding:0;
	background-color: #4E4D4C;
}


.fullwidthbanner-container{
	position:relative;
	padding:0;
	overflow:hidden;
}

.fullwidthbanner-container .fullwidthabanner{
	width:100%;
	position:relative;
}



/******************************
	-	IE8 HACKS	-
*******************************/
.noFilterClass {
	filter:none !important;
}


/******************************
	-	SHADOWS		-
******************************/

.tp-shadowcover	{	width:100%;height:100%;top:0px;left:0px;background: #fff;position: absolute; z-index: -1;}
.tp-shadow1 {
	-webkit-box-shadow: 0 10px 6px -6px rgba(0,0,0,0.8);
	   -moz-box-shadow: 0 10px 6px -6px rgba(0,0,0,0.8);
	        box-shadow: 0 10px 6px -6px rgba(0,0,0,0.8);
}

.tp-shadow2:before, .tp-shadow2:after,
.tp-shadow3:before, .tp-shadow4:after
{
  z-index: -2;
  position: absolute;
  content: "";
  bottom: 10px;
  left: 10px;
  width: 50%;
  top: 85%;
  max-width:300px;
  background: transparent;
  -webkit-box-shadow: 0 15px 10px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 15px 10px rgba(0,0,0,0.8);
  box-shadow: 0 15px 10px rgba(0,0,0,0.8);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.tp-shadow2:after,
.tp-shadow4:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.tp-shadow5
{
  	position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.tp-shadow5:before, .tp-shadow5:after
{
	content:"";
    position:absolute; 
    z-index:-2;
    -webkit-box-shadow:0 0 25px 0px rgba(0,0,0,0.6);
    -moz-box-shadow:0 0 25px 0px  rgba(0,0,0,0.6);
    box-shadow:0 0 25px 0px  rgba(0,0,0,0.6);
    top:30%;
    bottom:0;
    left:20px;
    right:20px;
    -moz-border-radius:100px / 20px;
    border-radius:100px / 20px;
}

/******************************
	-	BUTTONS	-
*******************************/

.tp-button{
	padding:6px 13px 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	height:30px;
	cursor:pointer;
	color:#fff !important; text-shadow:0px 1px 1px rgba(0, 0, 0, 0.6) !important; font-size:15px; line-height:45px !important;
	font-family: arial, sans-serif; font-weight: bold; letter-spacing: -1px;
	text-decoration:none;
}

.tp-button.big	{	color:#fff; text-shadow:0px 1px 1px rgba(0, 0, 0, 0.6); font-weight:bold; padding:9px 20px; font-size:19px;  line-height:57px !important; }


.purchase:hover,
.tp-button:hover,
.tp-button.big:hover {	background-position:bottom, 15px 11px}

	
/*	BUTTON COLORS	*/

.tp-button.green, .tp-button:hover.green,
.purchase.green, .purchase:hover.green			{ background-color:#21a117; -webkit-box-shadow:  0px 3px 0px 0px #104d0b;        -moz-box-shadow:   0px 3px 0px 0px #104d0b;        box-shadow:   0px 3px 0px 0px #104d0b;  }

.tp-button.blue, .tp-button:hover.blue,
.purchase.blue, .purchase:hover.blue			{ background-color:#1d78cb; -webkit-box-shadow:  0px 3px 0px 0px #0f3e68;        -moz-box-shadow:   0px 3px 0px 0px #0f3e68;        box-shadow:   0px 3px 0px 0px #0f3e68}

.tp-button.red, .tp-button:hover.red,
.purchase.red, .purchase:hover.red				{ background-color:#cb1d1d; -webkit-box-shadow:  0px 3px 0px 0px #7c1212;        -moz-box-shadow:   0px 3px 0px 0px #7c1212;        box-shadow:   0px 3px 0px 0px #7c1212}

.tp-button.orange, .tp-button:hover.orange,
.purchase.orange, .purchase:hover.orange		{ background-color:#ff7700; -webkit-box-shadow:  0px 3px 0px 0px #a34c00;        -moz-box-shadow:   0px 3px 0px 0px #a34c00;        box-shadow:   0px 3px 0px 0px #a34c00}

.tp-button.darkgrey,.tp-button.grey,
.tp-button:hover.darkgrey,.tp-button:hover.grey,
.purchase.darkgrey, .purchase:hover.darkgrey	{ background-color:#555; -webkit-box-shadow:  0px 3px 0px 0px #222;        -moz-box-shadow:   0px 3px 0px 0px #222;        box-shadow:   0px 3px 0px 0px #222}

.tp-button.lightgrey, .tp-button:hover.lightgrey,
.purchase.lightgrey, .purchase:hover.lightgrey	{ background-color:#888; -webkit-box-shadow:  0px 3px 0px 0px #555;        -moz-box-shadow:   0px 3px 0px 0px #555;        box-shadow:   0px 3px 0px 0px #555}



/* TP BUTTONS DESKTOP SIZE */

.rev-btn,
.rev-btn:visited						{ 	outline:none !important; box-shadow:none !important; text-decoration: none !important; line-height: 44px; font-size: 17px; font-weight: 500; padding: 12px 35px; box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;  font-family: "Roboto", sans-serif;  cursor: pointer;}

.rev-btn.rev-uppercase,
.rev-btn.rev-uppercase:visited			{ 	text-transform: uppercase; letter-spacing: 1px; font-size: 15px; font-weight: 900; }

.rev-btn.rev-withicon i					{ 	font-size: 15px; font-weight: normal; position: relative; top: 0px; -webkit-transition: all 0.2s ease-out !important; -moz-transition: all 0.2s ease-out !important; -o-transition: all 0.2s ease-out !important; -ms-transition: all 0.2s ease-out !important; margin-left:10px !important;}

.rev-btn.rev-hiddenicon i				{ 	font-size: 15px; font-weight: normal; position: relative; top: 0px; -webkit-transition: all 0.2s ease-out !important; -moz-transition: all 0.2s ease-out !important; -o-transition: all 0.2s ease-out !important; -ms-transition: all 0.2s ease-out !important; opacity: 0; margin-left:0px !important; width:0px !important;  }
.rev-btn.rev-hiddenicon:hover i			{   opacity: 1 !important; margin-left:10px !important; width:auto !important;}

/* REV BUTTONS MEDIUM */
.rev-btn.rev-medium,
.rev-btn.rev-medium:visited				{	 line-height: 36px; font-size: 14px; padding: 10px 30px; }

.rev-btn.rev-medium.rev-withicon i		{ 	font-size: 14px; top: 0px; }

.rev-btn.rev-medium.rev-hiddenicon i	{ 	font-size: 14px; top: 0px; }


/* REV BUTTONS SMALL */
.rev-btn.rev-small,
.rev-btn.rev-small:visited				{	line-height: 28px; font-size: 12px; padding: 7px 20px; }

.rev-btn.rev-small.rev-withicon i		{	font-size: 12px; top: 0px; }

.rev-btn.rev-small.rev-hiddenicon i		{ 	font-size: 12px; top: 0px; }


/* ROUNDING OPTIONS */
.rev-maxround 							{ 	-webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; }
.rev-minround 							{ 	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }	



/* SCROLL DOWN BUTTON */
@-webkit-keyframes rev-ani-mouse {
	0% { opacity: 1;top: 29%;}
	15% {opacity: 1;top: 50%;}
	50% { opacity: 0;top: 50%;}
	100% { opacity: 0;top: 29%;}
}
@-moz-keyframes rev-ani-mouse {
	0% {opacity: 1;top: 29%;}
	15% {opacity: 1;top: 50%;}
	50% {opacity: 0;top: 50%;}
	100% {opacity: 0;top: 29%;}
}
@keyframes rev-ani-mouse {
	0% {opacity: 1;top: 29%;}
	15% {opacity: 1;top: 50%;}
	50% {opacity: 0;top: 50%;}
	100% {opacity: 0;top: 29%;}
}
.rev-scroll-btn {
	display: inline-block;
	position: relative;
	left: 0;
	right: 0;
	text-align: center;
	cursor: pointer;
	width:35px;
	height:55px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid white;
	border-radius: 23px;
}
.rev-scroll-btn > * {
	display: inline-block;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
	color: #7f8c8d;
	color: #ffffff;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
}
.rev-scroll-btn > *:hover,
.rev-scroll-btn > *:focus,
.rev-scroll-btn > *.active {
	color: #ffffff;
}
.rev-scroll-btn > *:hover,
.rev-scroll-btn > *:focus,
.rev-scroll-btn > *:active,
.rev-scroll-btn > *.active {
	filter: alpha(opacity=80);
}

.rev-scroll-btn.revs-fullwhite  {
	background:#fff;
}

.rev-scroll-btn.revs-fullwhite span {
	background: #333;	
}

.rev-scroll-btn.revs-fulldark  {
	background:#333;
	border:none;
}

.rev-scroll-btn.revs-fulldark  span {
	background: #fff;	
}

.rev-scroll-btn span {
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: white;
	border-radius: 50%;
	-webkit-animation: rev-ani-mouse 2.5s linear infinite;
	-moz-animation: rev-ani-mouse 2.5s linear infinite;
	animation: rev-ani-mouse 2.5s linear infinite;
}

.rev-scroll-btn.revs-dark {
	border-color:#333;
}
.rev-scroll-btn.revs-dark span {
	background: #333;	
}

.rev-control-btn {
	position: relative;
	display: inline-block;
	z-index: 5;	
	color: #FFF;  
	font-size: 20px;
	line-height: 60px;
	font-weight: 400;
	font-style: normal;
	font-family: Raleway;	
	text-decoration: none;
	text-align: center;
	background-color: #000;	
	border-radius: 50px;	
	text-shadow: none;
	background-color: rgba(0, 0, 0, 0.50);
	width:60px;
	height:60px;
	box-sizing: border-box;
	cursor: pointer;
}

.rev-cbutton-dark-sr	{	
	border-radius: 3px;		
}

.rev-cbutton-light	{	
	color: #333;  	
	background-color: rgba(255,255,255, 0.75);	
}

.rev-cbutton-light-sr	{		
	color: #333;  	
	border-radius: 3px;		
	background-color: rgba(255,255,255, 0.75);
}


.rev-sbutton {	
	line-height: 37px;	
	width:37px;
	height:37px;	
}

.rev-sbutton-blue	{	
	background-color: #3B5998
}
.rev-sbutton-lightblue	{	
	background-color: #00A0D1;
}
.rev-sbutton-red	{	
	background-color: #DD4B39;
}






/***************************
	- KEN BURNS FIXES -
***************************/

body.rtl .tp-kbimg {left: 0 !important}



/***************************
	- 3D SHADOW MODE -
***************************/

.dddwrappershadow { box-shadow:0 45px 100px rgba(0, 0, 0, 0.4);}

/*******************
	- DEBUG MODE -
*******************/

.hglayerinfo				   {	  position: fixed;
  bottom: 0px;
  left: 0px;
  color: #FFF;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.75);
  padding: 5px 10px;
  z-index: 2000;
  white-space: normal;}
.hginfo 					   { 	position:absolute;top:-2px;left:-2px;color:#e74c3c;font-size:12px;font-weight:600; background:#000;padding:2px 5px;}
.indebugmode .tp-caption:hover { 	border:1px dashed #c0392b !important;}
.helpgrid 					   { 	border:2px dashed #c0392b;position:absolute;top:0px;left:0px;z-index:0 }
#revsliderlogloglog				{	padding:15px;color:#fff;position:fixed; top:0px;left:0px;width:200px;height:150px;background:rgba(0,0,0,0.7); z-index:100000; font-size:10px; overflow:scroll;}





